<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="icons/<%= json.web_globals.favicon %>">

    <title><%= json.web_globals.web_title %></title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <link href="css/main.css" rel="stylesheet">
    <link href="css/font-style.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet">

      
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>

  <body>
    <div class="container">
    <div class="well well-sm">
        <div class="row featurette featureImagePad">
                <div class="col-sm-6 col-md-5">
                  <img class="featurette-image img-responsive img-circle"  src="icons/<%= json.profile_data.profile_image %>">
                </div>
                <div class="col-sm-6 col-md-7 featureTextPad">
                <% if (json.profile_data.profile_name.length > 13) { %>
                      <h3 class="featurette-heading"><%= json.profile_data.profile_name %></h3>
                <% } else { %>
                      <h2 class="featurette-heading"><%= json.profile_data.profile_name %>.</h2>
                <% } %>
                  <p class="lead special-font"><small><%= json.profile_data.profile_quote %></small></p>
                <% if (json.profile_data.profile_name.length > 13) { %>
                  <h5><small><%= json.profile_data.profile_blurb %></small></h5>
                <% } else { %>
                  <h4><small><%= json.profile_data.profile_blurb %></small></h4>
                <% } %>
                </div>
              </div>
              </div>

            <div class="row">
              <div class="col-md-2">
                <div class="row">
                <a target="_blank" role="button" data-toggle="popover" data-placement="bottom" title="Steam" data-content="Community URL: <a href='https://steamcommunity.com/id/<%= json.social_handles.steam_URL %>' />"><img src="icons/steam.png"></a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <a target="_blank"  role="button" data-toggle="popover" data-placement="bottom" title="Discord" data-content="Username: <%= json.social_handles.discord_username %>"><img src="icons/discord.png"></a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                <a target="_blank" role="button" data-toggle="popover" data-placement="bottom" title="Twitch" data-content="Channel: https://www.twitch.tv/<%= json.social_handles.twitch_channel %>" ><img src="icons/twitch.png"></a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <a target="_blank" role="button" data-toggle="popover" data-placement="bottom" title="Battlenet" data-content="Battle Tag: <%= json.social_handles.battlenet_tag %>"><img style="width: 129px;" src="icons/battlenet.png"></a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <a target="_blank" role="button" data-toggle="popover" data-placement="bottom" title="Bethesda Launcher" data-content="Username: <%= json.social_handles.battlenet_tag %>"><img style="height: 129px;" src="icons/bethesda.png"></a>
                </div>
              </div>
              </div>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lineandbars.js"></script>
    
	<script type="text/javascript" src="js/dash-charts.js"></script>
	<script type="text/javascript" src="js/gauge.js"></script>
	
	<!-- NOTY JAVASCRIPT -->
	<script type="text/javascript" src="js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="js/noty/layouts/topLeft.js"></script>
	<script type="text/javascript" src="js/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="js/noty/layouts/topCenter.js"></script>
	
	<!-- You can add more layouts if you want -->
	<script type="text/javascript" src="js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script src="js/jquery.flexslider.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/admin.js"></script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
  </body>
</html>
