<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="icons/<%= json.web_globals.favicon %>">

    <title><%= json.web_globals.web_title %></title>

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <body>
    <div class="container">
      <div class="starter-template">
    <br />
    <br />
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              About
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
        <div class="row featurette featureImagePad">
                <div class="col-sm-6 col-md-5">
                  <img class="featurette-image img-responsive img-circle"  src="icons/<%= json.profile_data.profile_image %>">
                </div>
                <div class="col-sm-6 col-md-7 featureTextPad">
                <% if (json.profile_data.profile_name.length > 13) { %>
                      <h3 class="featurette-heading"><%= json.profile_data.profile_name %></h3>
                <% } else { %>
                      <h2 class="featurette-heading"><%= json.profile_data.profile_name %>.</h2>
                <% } %>
                  <p class="lead special-font"><small><%= json.profile_data.profile_quote %></small></p>
                <% if (json.profile_data.profile_name.length > 13) { %>
                  <h5><small><%= json.profile_data.profile_blurb %></small></h5>
                <% } else { %>
                  <h4><small><%= json.profile_data.profile_blurb %></small></h4>
                <% } %>
                </div>
              </div>
        </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              All the social!
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row padMe">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 imageLower">
                    <img src="icons/steam.png">
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-6 buttonLower">
                    <a target="_blank" href="<%= json.social_handles.steam_URL %>" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="bottom" title="Current handle on steam.">Steam</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="icons/discord.png">
                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-5 col-md-6 buttonLower">
                    <a target="_blank" href="<%= json.social_handles.discord_username %>" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="bottom" title="Discord username <3.">Discord</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <% if (json.web_globals.optional_panel) { %>
           <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <%= json.optional_panel.title %>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <h2>
                    <p>
                      <img src="/icons/<%= json.optional_panel.pic %>">
                      <a target="_blank" href="<%= json.optional_panel.button_URL %>" class="btn btn-primary btn-lg" role="button"><%= json.optional_panel.button_text %></a>
                    </p>
                  </h2>
                </div>
              </div>
           </div> 
          </div>
      <% } %>
      </div>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
  </body>
</html>
